$scrollbar-thumb: #D8D8D8;
$scrollbar-track: #FAFAFA;
$scrollbar-track-border: #EAEAEA;
$turquoise-color: #43C9D3;
$darker-turquoise-color: #369096;
$grey-color: #C5C5C5;
$darker-grey-color: #9b9b9b;
$red-color: #CE524A;

